body.app-mobile
  .comp-mobileRoom
    top: 0

.comp-mobileRoom
  position: absolute
  top: rem(65)
  bottom: rem(65)
  right: 0
  left: 0

  .room-wrapper
    display: flex
    flex-direction: column-reverse
    height: 100%
  .room-backlog
    display: block
    overflow-y: auto

  .room-footer
    @extend %container
    display: flex
    padding: rem(10)
    background-color: $lighter-gray
    position: fixed
    bottom: 0
    right: 0
    left: 0
    z-index: 10
    .room-input
      @extend %text
      flex: 1 1
      transition: box-shadow 0.5s
      box-shadow: inset transparent 0px 0px 0px 2px
      border-radius: 0
      background-color: $white
      border: 0
      vertical-align: top
      font-family: "MuseoSans"
      min-height: rem(40)
      margin-bottom: 0
      +media($widescreen)
        min-height: rem(80)
      &:active, &:focus
        outline: none
        box-shadow: inset $light-gray 0px 0px 0px 2px
    button
      letter-spacing: -0.06rem
    .room-send
      @extend .red-button
      @extend %text
      flex: 0 0 rem(75)
      text-transform: uppercase
      border-radius: 0
      border: none
      min-height: rem(40)
      padding: 0
      vertical-align: top
      font-family: "MuseoSans"
      display: none
      +media($widescreen)
        min-height: rem(80)
        flex-basis: rem(200)
    .upload
      flex: 0 0 rem(75)
      +bg-color-hover($medium-gray)
      font-size: $font-size-xl
      border-radius: 0
      border: none
      min-height: rem(40)
      padding: rem(0)
      vertical-align: top
      font-family: "MuseoSans"
      font-weight: 100
      color: $lighter-gray
      .icon
        &:before
          vertical-align: top
      +media($widescreen)
        font-size: $font-size-xxxl
        min-height: rem(80)
        flex-basis: rem(200)
    &.has-text
      .room-send
        display: block
      .upload
        display: none
