$dark-bg: #1F272C

#menu
  display: flex
  flex-direction: column
  justify-content:center
  background-color: $dark-bg
  color: $white
  height: 100%
  max-width: rem(275)
  min-height: rem(750)

.top-area
  background-color: $green

  .logo
    background-color: $dark-green
    background-image: url(/res/images/logo.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    background-origin: content-box
    height: rem(70)
    padding: rem(15)

  .userMenu
    float: right
    position: relative
    cursor: pointer

    span
      font-size: $font-size-l
      transform: rotate(90deg)
      padding: rem(15)

    .userMenu-content
      display: none
      position: absolute
      right: 0
      width: rem(120)
      background-color: $dark-green
      border: 1px solid $dark-green
      text-align: center

      li:hover
        background-color: $green

    &.is-expanded .userMenu-content
      display: block

  .comp-userbrief
    .avatar
      border-color: $dark-green
      width: 7rem
    .name
      font-size: $font-size-l
      +ellipsis()
      text-transform: capitalize
      margin: rem(5)

.middle-area
  flex: 1 1 auto

.bottom-area
  background-color: lighten($dark-bg, 35%)
  height: rem(200)
