.comp-room
  height: 100%
  display: flex
  flex-direction: column
  flex: 1 1 auto

  .room-wrapper
    background-color: $lighter-gray
    border-radius: 6px 6px 0 0
    flex: 1 1 auto
    display: flex
    flex-direction: column-reverse

  .room-backlog
    display: block
    overflow-y: auto
    height: auto
    padding: rem(20)

  .room-footer
    flex: 0 0 auto
    display: flex
    align-items: stretch

    .room-input
      flex: 1 1 auto
      border: 1px solid $light-gray
      border-right: none
      border-radius: 0 0 0 4px
      padding: rem(10)
      color: $dark-gray
      transition: border 0.4s

      &:focus
        outline: 0px
        border: 1px solid $green
        border-right: none

    .room-send
      flex: 0 0 rem(100)
      padding: rem(20)
      @extend .green-button
      text-transform: uppercase
      border: 1px solid $green
      border-radius: 0 0 4px 0
      display: none
    .upload
      flex: 0 0 rem(60)
      +bg-color-hover($medium-gray)
      @extend %extra-title
      border-radius: 0
      border: none
      height: rem(58)
      padding: 0
      vertical-align: top
      font-family: "MuseoSans"
      font-weight: 100
      border-radius: 0 0 4px 0
    &.has-text
      .room-send
        display: block
      .upload
        display: none

  .end-session
    flex: 0 0 auto
    height: rem(40)
    position: relative
    background-color: $white
    button
      background-color: $red
      color: $white
      padding: rem(7)
      position: absolute
      bottom: 0
      width: 100%
      font-size: $font-size-m
      text-transform: uppercase
