.comp-room
  height: 100%
  display: flex
  flex-direction: column
  min-height: rem(700)
  .session-title
    height: rem(55)
    flex: 0 0 auto
    .session-client
      padding: rem(7) rem(20)
      font-size: $font-size-l
      vertical-align: middle
      display: inline-block
      +ellipsis()
      max-width: 85%

      &:before
        content: ''
        display: inline-block
        border: 2px solid white
        height: rem(20)
        width: rem(20)
        vertical-align: middle
        border-radius: 50%
        margin-right: rem(5)
      &.on
        &:before
          background: $dark-green
      &.off
        &:before
          background: $light-gray

  .room-backlog
    background-color: $lighter-gray
    border-radius: 6px 6px 0 0
    flex: 1 1 auto
    padding: rem(20)
    overflow-y: auto

  .room-footer
    flex: 0 0 auto
    display: flex
    align-items: stretch

    .room-input
      flex: 1 1 auto
      border: 1px solid $light-gray
      border-right: none
      border-radius: 0 0 0 4px
      padding: rem(20)
      color: $dark-gray
      transition: border 0.4s

      &:focus
        outline: 0px
        border: 1px solid $green
        border-right: none

    .room-send
      flex: 0 0 auto
      padding: rem(20)
      width: rem(100)
      @extend .green-button
      text-transform: uppercase
      border: 1px solid $green
      border-radius: 0 0 4px 0

  .end-session
    flex: 0 0 auto
    height: 120px
    position: relative
    button
      background-color: $red
      color: $white
      padding: 10px
      position: absolute
      bottom: 0
      width: 100%
      font-size: $font-size-l
      text-transform: uppercase


