.comp-roommessage
  display: flex

  .message-avatar
    flex: 0 0 auto
    margin: 5px
    width: 35px
    height: 35px
    border-radius: 20px

  .message-content
    flex: 1 1 auto

    .author
      font-weight: bold

