.comp-withsidebar
  display: flex
  height: 100%
  align-items: stretch

  .toogle
    +position (absolute, rem(10) rem(15) null null)
    span
      width: rem(40)
      height: rem(40)
      color: $white
      font-size: $font-size-xl
      display: inline-flex
      align-items: center
      justify-content: center
      border-radius: 50%
      cursor: pointer
      background: $light-gray
      margin-left: rem(9)
      padding: rem(0)
      transition: background-color 0.4s, transform 0.2s
      &:hover
        background: $gray

  .toggle-button
    transform: rotate(180deg)

  .content
    flex: 1 1 auto

  .side-wrapper
    display: none
    width: rem(350)
    flex: 0 0 auto
    overflow: hidden
    +animation-name (none)
    .side-header
      width: rem(350)
      border-bottom: rem(1) solid $light-gray
      background: $lighter-gray
      height: rem(60)
      .icon
        opacity: 0
        +position (relative, null null null null)
        font-size: $font-size-xl
        margin: rem(22) 0 rem(12) rem(15)
        display: inline-flex
        align-items: center
        justify-content: center
        cursor: pointer
        transition: color 0.4s, opacity 0.25s
        &:after
          content: '+'
          +position (absolute, null 0 -10px null)
          font-size: $font-size-m
          color: $white
          background-color: $red
          border-radius: 50%
          width: rem(16)
          height: rem(16)
          font-weight: bold
          line-height: .68rem
        &:hover
          color: $medium-gray
          &:after
            background-color: $dark-red

    .side-content
      width: rem(350)
      padding: rem(10)

  &.is-expanded
    .side-wrapper
      display: block
      +animation-duration (0.2s)
      +animation-name (SBFromNone)
      +animation-fill-mode (forwards)
      .side-header
        .icon
          opacity: 1
    .toggle-button
      transform: rotate(0deg)

  &.is-collapsed
    .side-wrapper
      display: block
      +animation-duration (0.2s)
      +animation-name (SBFromBlock)
      +animation-fill-mode (forwards)
      .side-header
        .icon
          opacity: 0

//ANIMATION

+keyframes (SBFromNone)
  0%
    display: none
    width: 0
  1%
    display: block
    width: 0
  100%
    display: block
    width: rem(350)

+keyframes (SBFromBlock)
  0%
    display: block
    width: rem(350)
  99%
    display: block
    width: 0
  100%
    display: none
    width: 0