.comp-transactionentry
  +display-flex()
  color: $dark-gray
  @extend %title
  margin: rem(3) 0

  .transaction-label
    +span-columns(3 of 4, block-collapse)
    padding: rem(15)
    +row()
    .session-date
      +ellipsis()
      .date
        font-weight: bold
        margin-right: rem(25)

      .time
        font-weight: bold

    .session-title
      font-weight: bold
      text-transform: uppercase
      +ellipsis()
    .session-profesional
      font-weight: lighter
      text-transform: capitalize
      +ellipsis()

  &:nth-child(even)
    background-color: $white
  &:nth-child(odd)
    background-color: $lighter-gray

  .transaction-value
    +span-columns(1 of 4, block-collapse)
    +display-flex()
    background-color: $cyan
    color: $white
    text-align: center
    text-transform: uppercase
    font-weight: bold
    @extend %extra-title
    .sign
      margin-right: rem(3)
    .amount
  &.amount-minus
    .transaction-value
      background-color: $red