
.comp-breadcrumb
  display: flex
  flex-direction: row
  align-items: center
  background-color: $breadcrumb-bg
  padding: rem(10)

  .crumb
    +display-flex()
    margin-right: rem(10)
    @extend .red-button
    height: rem(55)
    border-radius: rem(4)
    position: relative
    color: $white
    padding-left: rem(18)
    width: 30%
    @extend %breadcrum-arrow
    .label
      +ellipsis()
      text-transform: uppercase
      font-weight: 500
    &:nth-child(1)
      width: auto
      padding-left: 0
      z-index: 40
      .label
        display: none
      &:before
        display: none
    &:nth-child(2)
      z-index: 30
      .icon
        display: none
    &:nth-child(3)
      z-index: 20
      .icon
        display: none
    &:nth-child(4)
      width: auto
      padding-right: rem(10)
      width: 37%
      z-index: 10
      .icon
        display: none
      &:after
        display: none
    .icon
      @extend %extra-icon
      &.icon-home
        span
          display: none
    .label
      @extend %text