.comp-modal
  +display-flex()
  +position (fixed, 0 0 0 0)
  z-index: 1000
  background-color: $green
  .modal-close
    @extend .red-button
    +position (absolute, rem(-100) rem(-100) null null)
    width: rem(200)
    height: rem(200)
    border-radius: 50%
    cursor: pointer
    .icon
      @extend %extra-title
      +position (absolute, rem(130) 25% null null)
      margin-right: rem(-10)
      width: rem(200)
      height: rem(200)
      color: $white
  +media ($computer)
    .modal-close
      top: rem(-125)
      right: rem(-125)
      width: rem(250)
      height: rem(250)
      .icon
        top: rem(170)
        width: rem(250)
        height: rem(250)
  .modal-content
    padding: rem(5)
