body
  margin: 0

  .comp-page
    +media($widescreen)
      max-width: rem(1500)

    .wrapper
      padding: 0 rem(10)
      box-sizing: border-box
      +media($computer)
        padding: 0

    .blue-button
      +bg-color-hover($blue)
    .gray-button
      +bg-color-hover($gray)
    .red-button
      +bg-color-hover($red)