body
  margin: 0

  .comp-page
    +media($widescreen)
      max-width: rem(1500)

    .wrapper
      padding: 0 rem(10)
      box-sizing: border-box
      +media($computer)
        padding: 0
      a
        color: $dark-gray
        &:hover, &:active, &:focus
          color: $red

.blue-button
  +bg-color-hover($blue)
.gray-button
  +bg-color-hover($gray)
.red-button
  +bg-color-hover($red)
.green-button
  +bg-color-hover($green)
.turquoise-button
  +bg-color-hover($turquoise)
.cyan-button
  +bg-color-hover($cyan)

.button
  @extend .red-button
  @extend %text
  color: $white
  padding: rem(20)
  font-weight: bold
  text-transform: uppercase
  width: 45%
  min-width: rem(250)
  max-width: rem(550)
  margin: rem(5) auto
  text-align: center
  display: block
  &:hover, &:active, &:focus
    color: $white

.label
  font-weight: bold
  text-transform: uppercase
  @extend %title