//TEXT SIZES

%extra-icon
  font-size: $font-size-xxxl
  +media($mobileOnly)
    font-size: $font-size-xxl
  +media($widescreen)
    font-size: $font-size-xxxl-icon
%extra-title
  font-size: $font-size-xxl
  +media($mobileOnly)
    font-size: $font-size-xl
  +media($widescreen)
    font-size: $font-size-xxxl
%title
  font-size: $font-size-xl
  +media($mobileOnly)
    font-size: $font-size-l
  +media($widescreen)
    font-size: $font-size-xxl
%text
  font-size: $font-size-l
  +media($mobileOnly)
    font-size: $font-size-m
  +media($widescreen)
    font-size: $font-size-xl




//BREADCRUMB-ARROW

$breadcrumb-bg: $lighter-gray

%breadcrum-arrow
  &:after
    position: absolute
    top: 50%
    right: rem(-15)
    margin-top: rem(-16)
    content: ""
    width: rem(32)
    height: rem(32)
    @extend .red-button
    transform: rotate(45deg) skew(15deg, 15deg)
    border-radius: rem(4)
    z-index: -1
  &:before
    position: absolute
    top: 50%
    left: rem(-16)
    margin-top: rem(-14)
    content: ""
    width: rem(28)
    height: rem(28)
    background-color: $breadcrumb-bg
    transform: rotate(45deg) skew(15deg, 15deg)
    border-radius: rem(4)
