%extra-icon
  font-size: $font-size-xxxl
  +media($mobileOnly)
    font-size: $font-size-xxl
  +media($widescreen)
    font-size: $font-size-xxxl-icon
%extra-title
  font-size: $font-size-xxl
  +media($mobileOnly)
    font-size: $font-size-xl
  +media($widescreen)
    font-size: $font-size-xxxl
%title
  font-size: $font-size-xl
  +media($mobileOnly)
    font-size: $font-size-l
  +media($widescreen)
    font-size: $font-size-xxl
%text
  font-size: $font-size-l
  +media($mobileOnly)
    font-size: $font-size-m
  +media($widescreen)
    font-size: $font-size-xl
