// Margin & padding variables
$field-set-margin: 0.5rem

//Font size variables
$base-font-size: 1rem

$font-size-xs: $base-font-size * 0.5
$font-size-s: $base-font-size * 0.75
$font-size-m: $base-font-size
$font-size-l: $base-font-size * 1.25
$font-size-xl: $base-font-size * 1.5
$font-size-xxl: $base-font-size * 2.5

//Color variables
$bg-amount:10%

$black:#222
$black-bg: darken($black, $bg-amount)

$dark-gray: #333
$medium-gray: #999
$gray: #CCC
$light-gray: #DDD
$lighter-gray: tint($light-gray, 80%)

$white:#FFFAFA

$red:#FF4500
$dark-red: darken($red, $bg-amount)
$light-red: #FBE3E4

$blue: #477DCA
$dark-blue: darken($blue, $bg-amount)
$light-blue: lighten($blue, 10%)


$light-yellow: #FFF6BF
$light-green: #E6EFC2

