$newsession-height: rem(70) !default

.comp-page
  &.homePage
    padding-bottom: $newsession-height
    .main-section
      background-color: $blue
    .page-home
      background-color: $white
      #sessions
        .entry-button
          @extend .blue-button
      #history
        .entry-button
          @extend .red-button
      #balance
        .entry-button
          @extend .cyan-button
        .entry-content
          margin-top: rem(50)
          .icon
            margin-bottom: rem(50)
          .payment-history-home
            background-color: $cyan
            color: $white
            padding: rem(10) rem(20)
          .button
            margin-bottom: rem(30)
      #treatments
        .entry-button
          @extend .green-button
      #config
        .entry-button
          @extend .turquoise-button
      .new-session
        padding: 20px
        background: $white
        height: $newsession-height
        position: fixed
        z-index: 1
        box-sizing: border-box
        right: 0
        left: 0
        width: 100%
        bottom: 0
        @extend .comp-page
        .icon
          color: $red
      .view-more
        display: block
        text-align: center
        padding: rem(15)
        font-weight: bold
        @extend %text
        +color-hover($medium-gray)