.topupPage
  .main-section
    background-color: $lighter-gray
    .page-topupPage
      background-color: $white
      padding: rem(40) 0 rem(10)
      .comp-balancewidget
        .icon
          color: $cyan
      .comp-topup
      .comp-iconbutton
        margin-top: rem(10)
        @extend .cyan-button
        color: $white
        padding: rem(20) 0
        @extend %text
        text-transform: uppercase