/* Pure extended: more form grid */
.pure-form .pure-input-1-5 {
  width: percentage(1/5);
}
.pure-form .pure-input-2-5 {
  width: percentage(2/5);
}
.pure-form .pure-input-3-5 {
  width: percentage(3/5);
}
.pure-form .pure-input-4-5 {
  width: percentage(4/5);
}

.pure-form .pure-input-1-6 {
  width: percentage(1/6);
}
.pure-form .pure-input-4-6 {
  width: percentage(4/6);
}
.pure-form .pure-input-5-6 {
  width: percentage(5/6);
}
