.comp-toggleInput, .comp-toggleSelect, .comp-toggleBoolean
  margin-bottom: rem(5)
  line-height: 1.2rem

  .label
    display: inline-block
    label
      display: inline-block
      text-transform: capitalize
      font-family: "MuseoSans"
      margin-right: rem(10)

  .field
    display: inline-block
    vertical-align: middle
    input
      width: rem(300)
      font-family: "MuseoSans"
      &[name="meta.address.street"], &[name="meta.cv.university"], &[name="meta.account"]
        width: rem(450)
      &[type="email"]
        margin-bottom: 0
    span
      display: inline-block
      padding: rem(5) rem(10)
