.comp-taskEntry
  .wrapper
    margin: 20px auto
  .label
    padding: 5px 10px
    background: $green
    color: white
  .details
    background-color: $lighter-gray
    margin: 0
    padding-top: 20px
    padding-bottom: 20px