.comp-circlerating
  display: flex
  flex-direction: row
  .circle-1, .circle-2, .circle-3, .circle-4, .circle-5
    background: $white
    height: rem(25)
    width: rem(25)
    margin-right: rem(8)
    border-radius: 50%
    &:last-child
      margin-right: 0
  .circle-1
    &.circle-filled
<<<<<<< HEAD
      background: #A4C546
  .circle-2
    &.circle-filled
      background: #E8CF2E
  .circle-3
    &.circle-filled
      background: #FFC12F
  .circle-4
    &.circle-filled
      background: #F95D55
  .circle-5
    &.circle-filled
      background: #D83A38
=======
      background: #99FFCC
  .circle-2
    &.circle-filled
      background: #CCFF99
  .circle-3
    &.circle-filled
      background: #FFFF99
  .circle-4
    &.circle-filled
      background: #FFCC99
  .circle-5
    &.circle-filled
      background: #FF9999
>>>>>>> 965ba9f7f97a0af59792c34451760cccc7a8f488
