.comp-iconbutton
  display: block
  text-align: center
  color: $black

  > .icon
    font-size: $font-size-xxl
    margin-right: rem(10)
    vertical-align: middle

  > .button-label
    font-size: $font-size-xl
    vertical-align: middle
    font-weight: 600

