$red-bg:$dark-red

.comp-iconbadge
  @include position (relative, null null null null)
  text-align: center
  margin-right: rem(25)

  .icon
    font-size: $font-size-xxxl
    @include media($widescreen)
      font-size: $font-size-xxxl-icon

  .badge
    @include position (absolute, -30px -30px null null)
    width: rem(60)
    height: rem(60)
    line-height: rem(60)
    @include media($mobileOnly)
      width: rem(50)
      height: rem(50)
      line-height: rem(50)
      top: rem(-20)
      right: rem(-20)
    @include media($widescreen)
      width: rem(75)
      height: rem(75)
      line-height: rem(75)
      top: rem(-35)
      right: rem(-35)
    background-color: $red-bg
    border-radius: 50%
    box-shadow: $shadow
    @extend .title
