$red-bg:$dark-red

.comp-iconbadge
  @include position (relative, null null null null)
  text-align: center
  margin-right: rem(25)

  .icon
    height: rem(100)

  .badge
    @include position (absolute, -30px -30px null null)
    width: rem(66)
    height: rem(66)
    line-height: rem(66)
    font-size: $font-size-xxl
    background-color: $red-bg
    border-radius: 50%
    box-shadow: $shadow
