.comp-iconbadge
  position: relative
  text-align: center
  margin-right: 25px

  .icon
    height: 96px

  .badge
    position: absolute
    top: -30px
    right: -30px
    width: 66px
    height: 66px
    line-height: 66px

    font-size: 36px
    background-color: red
    border-radius: 50%
