.comp-mainlistentry

  .entry-button
    @include display-flex()
    justify-content: space-between
    font-size: $font-size-xl
    color: $white
    background-color: $white
    @include linear-gradient(to bottom, $blue, $dark-blue)
    padding: rem(20)
    height: rem(230)
    user-select: none
    cursor: pointer
    text-transform: uppercase
    font-weight: bold

  .entry-content
    display: none

    &.is-expanded
      display: block