.comp-sessionentry
  @include display-flex()
  justify-content: space-between
  font-size: $font-size-l
  color: $black
  background-color: $lighter-gray

  .session-label
    padding: rem(20)
    @include span-columns(4 of 5)
    @include display-flex()
    justify-content: space-between

    .session-title
      margin-left: rem(10)

  .session-link
    background-color: $light-blue
    color: $white
    text-align: center
    @include span-columns(1 of 5)
    @include display-flex()
    align-self: stretch
    justify-content: center
