.comp-sessionentry
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  font-size: 20px
  color: black
  background-color: #F5F5F5

  .session-label
    padding: 20px

    display: flex
    flex-direction: row
    align-items: center

    .session-title
      margin-left: 10px

  .session-link
    background-color: #99BAD9
    color: white
    text-align: center
    width: 20%
    align-self: stretch

    display: flex
    flex-direction: column
    justify-content: center