$topbar-height: rem(50) !default
$content-top-space: 0 !default
$content-top-space: ($topbar-height + $content-top-space)

.comp-topBar
  @include background-bar()
  width: 100%
  height: $topbar-height
  @include fixed()
  @include media($computer)
    max-width: inherit
    right: initial
    left: initial
  .topBar-wrapper
    padding: rem(10)
    max-width: rem(1320)
    margin: auto
    color: $white
    border-bottom: 4px solid $white
    box-shadow: $shadow
    @include row()
    @include fill-up()
    @include media($widescreen)
      max-width: rem(1500)
    .left-box
      @include span-columns(1 of 5, block-collapse)
      text-align: left
      height: 100%
      .menuBar
        @include fill-up()
        font-weight: bold
        .icon-menu
          color: $white
          font-size: $font-size-xl
    .center-box
      @include span-columns(3 of 5, block-collapse)
      text-align: center
      height: 100%
      .logoBar
        @include fill-up()
        font-weight: bold
    .right-box
      @include span-columns(1 of 5, block-collapse)
      text-align: right
      height: 100%
      .iconBar
        @include fill-up()
        @include background-image(url(res/images/logo.png))
        background-repeat: no-repeat
        background-size: contain
        background-position: right