@mixin one-column()
  margin-left: auto
  margin-right: auto
  float: none
  &:last-child
    margin-left: auto
    margin-right: auto

@mixin display-flex()
  display: flex
  flex-direction: row
  align-items: center
  align-self: stretch
  justify-content: center

@mixin fixed()
  position: fixed
  z-index: 100
  box-sizing: border-box
  top: 0
  right: 0
  left: 0

@mixin background-bar()
  background-color: $green
  color: $white

@mixin span-top-bar($basePerc)
  display: block
  float: left
  width: $basePerc

@mixin fill-up()
  height: 100%
  width: 100%
  box-sizing: border-box

@mixin ellipsis()
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  width: auto

@mixin bg-color-hover($baseColor)
  background-color: $baseColor
  transition: background-color 0.4s
  cursor: pointer
  &:hover, &:active, &:focus
    background-color: darken($baseColor, 10%)

@mixin color-hover($baseColor)
  color: $baseColor
  transition: color 0.4s
  &:hover, &:active, &:focus
    color: darken($baseColor, 10%)