@import "media-query"

/*
  ************
  GRID
  *************

$grid-columns: 16

//****************************
//  Mixins
//****************************

// --------- Column
@mixin __column-n($n)
  :width ((100% / $grid-columns) * $n)

@mixin __push-n($n)
  :margin-left ((100% / $grid-columns) * $n)

@mixin __pull-n($n)
  :margin-left (-(100% / $grid-columns) * $n)

@mixin _grid-column-n($suffix: '')
  @if ($suffix and $suffix != '')
    $suffix: #{'-' + $suffix}
  @for $i from 1 through $grid-columns
    .column-#{$i}#{$suffix}
      @include __column-n($i)
    .push-#{$i}#{$suffix}
      @include __push-n($i)
    .pull-#{$i}#{$suffix}
      @include __pull-n($i)

// --------- Distributed columns
@mixin __columns-n($n)
  :width (100% / $n)

@mixin _grid-columns-n($suffix)
  @if ($suffix and $suffix != '')
    $suffix: #{'-' + $suffix}
  @for $i from 1 through $grid-columns
    .columns-#{$i}#{$suffix} > .column
      @include __columns-n($i)

// --------- Stack
@mixin _grid-stack($device)
  .stack-#{$device}
    :display block
  [class*=" columns-"], [class^="columns-"], .columns
    &.stack-#{$device} > .column
      :display block

// --------- Only
@mixin _grid-only($for)
  $classes: null
  @each $device in $device-types-all
    @if ($device != $for)
      $classes: append($classes, unquote(".only-#{$device}"), comma)

  #{$classes}
    :display none

// --------- Hide
@mixin _grid-hide($device)
  .hide-#{$device}
    :display none

// --------- Fractional
@mixin _grid-fractional($suffix)
  $fractions: ('1-1':100%, '5-6':83.33333%, '4-5':80%, '3-4':75%, '2-3':66.66667%, '3-5':60%, '1-2':50%, '2-5':40%, '1-3':33.33333%, '1-4':25%, '1-5':20%, '1-6':16.66667%)
  @if ($suffix and $suffix != '')
    $suffix: #{'-' + $suffix}
  @each $prop, $size in $fractions
    .column-#{$prop}#{$suffix}
      width: $size
    .push-#{$prop}#{$suffix}
      margin-left: $size
    .pull-#{$prop}#{$suffix}
      margin-left: -#{$size}

// --------- All
@mixin _grid-classes($device)
  @include _grid-fractional($device)
  @include _grid-column-n($device)
  @include _grid-columns-n($device)
  @include _grid-stack($device)
  @include _grid-only($device)
  @include _grid-hide($device)

//****************************
//  Styles
//****************************

.container
  :width auto
  :margin 0
  :padding 0
  :position relative
  :font-size 0

.row
  :display block
  :position relative
  :width auto
  :font-size 0

/* Common
[class*=" column-"], [class^="column-"], .column
  :display inline-block
  :vertical-align top
  img
    :max-width 100%
  :font-size 1rem

.column
  @include __column-n(1)

.column:only-child,
.row > .column:only-child,
.wide
  :width 100%

/* Fractional columns
@include _grid-fractional('')

/* Grid columns
@include _grid-column-n('')

/* Proportional columns
@include _grid-columns-n('')

/* Mobile only
@media only #{$query-mobile}
  @include _grid-classes('mobile')

/* Tablet only
@media only #{$query-tablet}
  @include _grid-classes('tablet')

/* Desktop only
@media only #{$query-desktop}
  @include _grid-classes('desktop')

/* Desktop LD
@media only #{$query-desktop-ld}
  @include _grid-classes('desktop-ld')

/* Desktop HD
@media only #{$query-desktop-hd}
  @include _grid-classes('desktop-hd')

/* Desktop FullHD
@media only #{$query-desktop-fullhd}
  @include _grid-classes('desktop-fullhd')

//****************************
//  Extras
//****************************

/* Full-width image
.img
  :max-width 100%
  :height auto
  :display block