#container
  position: absolute
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  display: flex

  #menu
    width: 350px
    height: 100%
    overflow: auto

  #main
    flex-grow: 1
    height: 100%
    overflow: auto
