$entry-button-bg-color: lighten($dark-bg, 30%)

.comp-sidebarUserProfile

  .sideBar-section
    padding: rem(10)
    background-color: $lighter-gray
    text-transform: uppercase
    text-align: center
  .userbrief
    display: flex
    align-items: center
    justify-content: flex-start
    padding: rem(20)
    .avatar
      flex: 0 0 auto
      min-width: 50px
      min-height: 50px
      height: 50px
      border: none
      width: 50px
      border-radius: 50%
    .profile
      flex: 1 1 auto
      margin: rem(5)
      line-height: 1.2rem
      .name
        font-size: $font-size-m
        text-transform: capitalize
        +ellipsis()
        font-weight: bold
      .view-profile
        +color-hover($green)
        text-decoration: underline
        font-size: $font-size-s
        font-weight: bold
  .comp-iconsublistentry
    border: 1px solid $gray
    .entry-button
      padding: rem(15)
      +bg-color-hover($entry-button-bg-color)
      .label
        h2
          font-size: $font-size-m
        .icon
          font-size: $font-size-xxl
      .icon
        font-size: $font-size-xl
    .entry-content
      font-size: $font-size-m
      .comp-historiesentry
        font-size: $font-size-m
        .label
          border-bottom: 1px solid $gray
          border-top: 1px solid $gray
          font-size: $font-size-m
      .view-more
        text-align: center
        padding: rem(10)
        display: inline-block
        font-weight: bold
