$newsession-height: rem(110) !default

.comp-page
  &.homePage
    padding-bottom: $newsession-height
    .main-section
      background-color: $blue
    .page-home
      background-color: $white
      margin-top: -10px
      #sessions
        .entry-button
          @extend .blue-button
      #history
        .entry-button
          @extend .turquoise-button
      #balance
        .entry-button
          @extend .cyan-button
        .entry-content
          background: $white
          padding-bottom: rem(10)
          .icon-pig
            margin: rem(40) auto rem(30)
          .amount
            margin-bottom: rem(10)
            line-height: 2rem
          .section-title
            background-color: $cyan
            color: $white
            padding: rem(10) rem(20)
          .button
            color: $white
            padding: rem(10)
            &:hover
              color: $white
      #treatments
        .entry-button
          @extend .green-button
      #config
        .entry-button
          @extend .turquoise-button
        .entry-content
          background: $white
          padding-bottom: rem(30)
      #new-session
        position: fixed
        bottom: 0
        right: 0
        left: 0
        .entry-button
          @extend .red-button
          z-index: 1
          box-shadow: inset 0 0 0 5px $dark-red
          .comp-iconbadge
            margin-right: -5px
            background-color: $dark-red
            border-radius: 50%
            height: 100px
            width: 100px
            .icon
              position: absolute
              left: -20px
              top: 40px
            &:after
              position: absolute
              content: ''
              height: 160px
              width: 5px
              display: block
              background-color: $dark-red
              top: -30px
              left: -20px
            +media($mobileOnly)
              height: 60px
              width: 60px
              .icon
                left: -12px
                top: 20px
              &:after
                height: 100px
                top: -20px
            +media($widescreen)
              height: 160px
              width: 160px
              .icon
                left: -10px
                top: 70px
              &:after
                height: 240px
                top: -40px

      .view-more
        display: block
        text-align: center
        font-weight: bold
        @extend %text
        +color-hover($medium-gray)
