$newsession-height: rem(110) !default
$newsession-dark-red: darken($bright-red, 10%)
.comp-page
  &.homePage
    padding-bottom: $newsession-height
    .main-section
      background-color: $blue
    .page-home
      background-color: $white
      margin-top: -10px
      #sessions
        .entry-button
          @extend .blue-button
      #history
        .entry-button
          @extend .turquoise-button
        .activity
          font-weight: 400
      #balance
        .entry-button
          @extend .cyan-button
        .entry-content
          background: $white
          .icon-pig
            margin: rem(40) auto rem(30)
          .amount
            margin-bottom: rem(10)
            line-height: 2rem
            @extend %title
          .section-title
            background-color: $cyan
            color: $white
            padding: rem(5) rem(10)
          .button
            color: $white
            padding: rem(10)
            margin-bottom: rem(20)
            &:hover
              color: $white
      #treatments
        .entry-button
          @extend .green-button
      #config
        .entry-button
          @extend .turquoise-button
        .entry-content
          background: $white
          padding-bottom: rem(30)
      #new-session
        position: fixed
        bottom: 0
        right: 0
        left: 0
        .entry-button
          +bg-color-hover($bright-red)
          z-index: 1
          box-shadow: inset 0 0 0 5px $newsession-dark-red
          .comp-iconbadge
            margin-right: rem(-5)
            background-color: $newsession-dark-red
            border-radius: 50%
            height: rem(100)
            width: rem(100)
            .icon
              position: absolute
              left: rem(-20)
              top: rem(40)
            &:after
              position: absolute
              content: ''
              height: rem(160)
              width: 5px
              display: block
              background-color: $newsession-dark-red
              top: rem(-30)
              left: rem(-20)
            +media($mobileOnly)
              height: rem(60)
              width: rem(60)
              .icon
                left: rem(-12)
                top: rem(20)
              &:after
                height: rem(100)
                top: rem(-20)
            +media($widescreen)
              height: rem(160)
              width: rem(160)
              .icon
                left: rem(-10)
                top: rem(70)
              &:after
                height: rem(240)
                top: rem(-40)

      .view-more
        display: block
        text-align: center
        font-weight: bold
        @extend %text
        +color-hover($medium-gray)
