$content-top-space: 0 !default
$content-bottom-space: 0 !default

.comp-page
  +outer-container()
  > .main-section
    +row()
    padding-top: $content-top-space
    padding-bottom: $content-bottom-space

body.app-mobile
  .comp-page
    > .main-section
      padding-top: rem(20)