$historial-height: rem(70) !default

.topupPage
  padding-bottom: $historial-height
  .main-section
    background-color: $lighter-gray
    .page-topupPage
      background-color: $white
      padding: rem(40) 0 rem(10)
      .comp-balancewidget
        .icon
      .comp-topup
      .comp-iconbutton
        @extend .cyan-button
        color: $white
        min-height: $historial-height
        padding: rem(20) 0
        @extend %text
        text-transform: uppercase
        +position (fixed, null 0 0 0)
        margin-top: rem(10)

  #wait
    @extend %text
    text-align: center